body {
    background-color: rgb(250, 210, 220);
  }

.logo {
    margin-left: 45%;
}

nav{
    background-color: rgb(250, 201, 214);
    height: 50px;
  }
  
  .links {
    text-decoration: none;
    text-align: center;
    color: #512079;
    display: block;
    padding: 0px 20px;
  }
  
  a:hover {
    background-color: rgb(164, 114, 173, .3);
  }
  
  .menu{
    list-style:none;
    background-color: rgb(250, 201, 214);
    width: 100%;
    margin: auto;
  }
  
  .menu-p{
    line-height: 50px;
    float: left;
  }
  
  ul li ul li {
    list-style:none;
    background-color: rgb(250, 201, 214);
  }
  
  ul li {
    float: center;
    width: 200px;
  }
  
  
  ul ul {
    position: absolute;
    visibility: hidden;
  }
  
  ul li:hover ul {
    visibility: visible;
  }
  